body {
    background: #121212;
    color: white;
    overflow: hidden;
}

#charts {
    overflow: scroll;
    height: calc(100vh - 50px);
    width: 100%;
}

.packets {
    overflow: scroll;
    height: calc(100vh - 50px);
    width: 100%;
}

table {
    width: calc(100% - 20px);
    margin: 10px;
}

.command.updated {
    animation: update 0.5s ease-out both;
}

@keyframes update {
    0% {
        background: #558b2f;
    }
    100% {
        background: transparent;
    }
}

.error {
    background: #d32f2f;
}
