body {
    background: #121212;
    color: white;
    overflow: hidden;
}

#charts {
    overflow: scroll;
    height: calc(100vh - 50px);
    width: calc(100% - 20px);
    padding: 10px;
    padding_bottom: 200px;
}

canvas {
    background: #1e1e1e;
    margin: 10px 0;
}

#connection-error {
    display: flex;
    padding: 5px;
}
.message {
    font-size: 20px;
}

.buttons {
    margin-left: auto;
}

.packets {
    overflow: scroll;
    height: calc(100vh - 50px);
    width: 100%;
    padding_bottom: 200px;
}

table {
    width: calc(100% - 20px);
    margin: 10px;
}

.command.updated tbody {
    animation: update 0.5s ease-out both;
}

.command th, .command td {
    text-align: right;
    padding: 8px;
}
.command td.error {
    background: #cc0000;
}

.command .diag th, .command .diag td {
    text-align: center;
}
.command th:first-child, .command td:first-child {
    text-align: left;
}

tbody {
    background: #1e1e1e;
}

tr.error {
    background: #cc0000;
}
tr.warning {
    background: #ff8800;
}



.command.updated tr.error, .command.updated td.error  {
    animation: update-error 0.5s ease-out both;
}
.command.updated tr.warning, .command.updated td.warning  {
    animation: update-warning 0.5s ease-out both;
}

@keyframes update {
    0% {
        background: #558b2f;
    }
    100% {
        background: #1e1e1e;
    }
}

@keyframes update-error {
    0% {
        background: #ff4444;
    }
    100% {
        background: #800000;
    }
}

@keyframes update-warning {
    0% {
        background: #ffbb33;
    }
    100% {
        background: #ff8800;
    }
}

.error {
    background: #B00020;
}

.warning {
    background: #ff8800;
}
